* {
    font-family: 'Calculator', sans-serif;    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c2f;  
    color: white;                                              
}

/*Main Calculator Body*/
#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #282c2f;
    background-color: #282c2f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 450px;
    width: 300px;
    border-radius: 25px;
}

/*Calculator Screen*/
#calculator .screen {
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* border: 2px solid black; */
    width: 250px;
    height: 70px;
    margin: 20px;;
    border-radius: 25px;
}
    #inputScreen, #output {
        margin: 5px;
        text-align: right;
        height: 30px;
        color: white;
    }

/*Calcultor Buttons*/
.buttons button {
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: large;
    font-weight: bolder;
    border-radius: 15px;
    background-color: #323736;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    .buttons button:hover {
        background-color: #454545;
    }

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    /* margin: auto; */
}

/*Row 1*/
.buttons .one {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;
    margin: 10px 0px;
}
    .buttons .one button {
        margin:0px -3px;
    }

    .buttons .one #clear {
        background-color: #0cbaba;
    }

    .buttons .one #clear:hover {
        background-color: #0a9999;
    }

/*Row 2*/
.buttons .two {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;
}
    .buttons .two .left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width:200px;
        
    }

    .buttons .two .right button{
        height: 100px;
    }

/*Row 3*/
.buttons .three {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-evenly;
}
    .buttons .three .left{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width:200px;
    }
    .buttons .three .right button{
        height: 112px;
    }

    .buttons .three .left #zero{
        width: 115px;
    }

.buttons #divide, .buttons #multiply, .buttons #subtract, .buttons #add {
    background-color: #341637;
}

.buttons #divide:hover, .buttons #multiply:hover, .buttons #subtract:hover, .buttons #add:hover {
    background-color: #432445;
}
